** linguist-detectable
*.pluto -linguist-detectable
*.php -linguist-detectable

# Sublime Text Package
.vscodeignore export-ignore
Pluto.tmbundle/Snippets/*.code-snippets export-ignore
*.png export-ignore
*.json export-ignore
visual-check.* export-ignore
*.pluto export-ignore
*.js export-ignore
