** linguist-detectable
*.pluto linguist-language=Lua

# Sublime Text Package
Pluto.tmbundle/Snippets/*.code-snippets export-ignore
*.png export-ignore
package.json export-ignore
visual-check.* export-ignore
