<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Pluto</string>
	<key>uuid</key>
	<string>CC438C1A-781D-4AF5-8714-F66CB062CE84</string>
</dict>
</plist>
